.canecto_widget a { text-decoration: none; }
.canecto_facebook { background: url('facebook.png') 0 50% no-repeat; padding: 0 0 0 20px; }
.canecto_linkedin { background: url('linkedin.png') 0 50% no-repeat; padding: 0 0 0 20px; }
.canecto_logo { width: 30px; }